<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="PersonalInfoAndIdentIDTests">
        <classes>
            <class name="idnowmobileautomation.tests.PersonalInfoTest"/>
            <class name="idnowmobileautomation.tests.Ident_IdTest"/>
        </classes>
    </test>
</suite>
